.vs/
TrustyDrive/bin/
TrustyDrive/bld/
TrustyDrive/TrustyDrive.jsproj.user
TrustyDrive/TrustyDrive_TemporaryKey.pfx
TrustyDrive/AppPackages/
TrustyDrive/BundleArtifacts/
breaker/bin/x64/
breaker/obj/x64/
breaker/bin/ARM/
breaker/obj/ARM/
