.generic-param {
    width: 210px;
    margin: 20px;
}

.generic-param button {
    width: 200px;
    height: 50px;
}

.my-accounts {
    width: 335px;
    margin-top: 30px;
    margin-left: 20px;
}

.new-provider {
    width: 80px;
    height: 30px;
    padding-top: 3px;
    margin-right: 5px;
    border: 1px dotted #808080;
    background: #FFFFFF;
    float: right;
    text-align: center;
}

.remove-provider {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-top: -8px;
    background: url("../../images/style/remove-provider.png") no-repeat;
    float: right;
}

.settings-params {
    overflow: auto;
}

.used-account {
    width: 255px;
    height: 60px;
    padding-left: 80px;
    padding-top: 30px;
}

.version-param {
    margin-left: 20px;
    margin-top: 20px;
}
