.file-list {
    width: 95%;
    padding: 2%;
    margin: auto;
    overflow: auto;
}

.file {
    width: 270px;
    height: 40px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-top: 20px;
    padding-left: 60px;
    float: left;
}

/*** File Icons ***/
.archive {
    background: url("../../images/style/archive.png") no-repeat;
}

.folder {
    background: url("../../images/style/folder.png") no-repeat;
}

.music {
    background: url("../../images/style/music.png") no-repeat;
}

.pdf {
    background: url("../../images/style/pdf.png") no-repeat;
}

.picture {
    background: url("../../images/style/picture.png") no-repeat;
}

.script {
    background: url("../../images/style/script.png") no-repeat;
}

.system {
    background: url("../../images/style/system.png") no-repeat;
}

.text {
    background: url("../../images/style/text.png") no-repeat;
}

.unknown {
    background: url("../../images/style/unknown.png") no-repeat;
}

.video {
    background: url("../../images/style/video.png") no-repeat;
}

.web {
    background: url("../../images/style/web.png") no-repeat;
}
/*** End of File Icons ***/

/*** The Menu Bar ***/
.menu-bar {
    width: 100%;
    text-align: center;
    background: #FFFFFF;
    border-top: 1px solid #808080;
    position: absolute;
}

.menu-item {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.upload {
    background: url('../../images/style/upload.png') no-repeat;
}

.create-dir {
    background: url("../../images/style/create-dir.png") no-repeat;
}

.rename {
    background: url("../../images/style/rename.png") no-repeat;
}

.local-delete {
    background: url("../../images/style/local-delete.png") no-repeat;
}

/*** End of the Menu bar ***/