
.alternative-link {
    width: 200px;
    margin-top: 80px;
}

.alternative-link div {
    width: 100%;
    height: 30px;
    padding-top: 5px;
    font-weight: bold;
}

.bar-title {
    font-weight: bold;
    margin-left: 50px;
}

.bar-legend {
    margin-left: 50px;
}

.connect-fields {
    height: 100px;
}

.connect-link-class {
    height: 30px;
    padding-top: 5px;
    font-weight: bold;
}

.error-message {
    font-weight: bold;
    color: red;
}

.interface-body {
    width: 90%;
    height: 60%;
    margin: auto;
    margin-top: 100px;
    background: #FFFFFF;
}

.interface-button {
    width: 80px;
    height: 30px;
    padding-top: 10px;
    margin: 5px;
    border: 1px solid #808080;
    border-radius: 2px;
    text-align: center;
    color: #FFFFFF;
    background-color: #A4A4A4;
    display: inline-block;
}

.interface-folder {
    width: 80px;
    height: 30px;
    padding-top: 10px;
    margin: 5px;
    border: 1px solid #000000;
    text-align: center;
    display: inline-block;
}

.interface-question {
    width: 320px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

.login-button {
    width: 80px;
    height: 30px;
    padding-top: 10px;
    margin-top: 10px;
    border: 1px solid #808080;
    border-radius: 2px;
    text-align: center;
    color: #FFFFFF;
    background-color: #A4A4A4;
}

.login-window {
    width: 360px;
    margin: auto;
    margin-top: 30px
}

.lost-fields {
    height: 120px;
}

.new-fields {
    height: 100px;
    margin-left: 3px;
}

.new-info {
    height: 80px;
}

.password-link-class {
    height: 30px;
    padding-top: 5px;
    margin-top: 60px;
    font-weight: bold;
}

.progress-bar {
    width: 80%;
    height: 5px;
    margin: auto;
    background: #BDBDBD;
}

.progress-step {
    height: 100%;
    background: #00BFFF;
    float: left;
}

.upper-back {
    width: 50px;
    height: 50px;
    background: url("../../images/style/back.png") no-repeat;
    float: left;
}

.upper-bar {
    height: 55px;
    padding-left: 20px;
    padding-top: 5px;
    font-size: 20px;
    background: #5F5F5F;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    color: #ffffff;
}

.upper-settings {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background: url('../../images/style/settings.png') no-repeat;
    float: right;
}

.upper-title {
    padding-top: 12px;
    float: left;
}

.user-interface {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}
