.frame {
  width: 800px;
  padding: 10px;
  margin: auto;
  margin-top: 30px;
  background: lightgrey;
  border: solid 1px black;
  border-radius: 10px;
}

.main-ideas {
  text-align: center;
}

.question {
  width: 800px;
  margin: auto;
}

.question .que {
  font-weight: bold;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.question .ans {
  font-size: 14px;
  color: #3F3F3F;
}

.blank {
  width: 100%;
  height: 60px;
}

